.contacts {
  font-family: 'DM Sans', sans-serif;

  &__container {
    padding-top: 48px;
    padding-bottom: 0;
    background: $bottom-section-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-inside {
      padding: 43px 20px;
    }
  }

  &__display--none {
    display: none;
  }

  &__section {
    width: 220px;
    height: 427px;
    background-color: $white;
    box-shadow: 0px 8px 30px $pink-shadow;
    border-radius: 24px;
    margin-bottom: 20px;
  }

  &__header {
    border: 1px solid $lightgrey;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    width: 80px;
    height: 16px;
    background-color: $yellow;
    border-radius: 4px;
    color: $white;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__title-second {
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    width: 130px;
    height: 16px;
    background: $green;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__city {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    padding-bottom: 6px;
  }

  &__description {
    width: 179px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $grey;
    margin-bottom: 22px;
  }

  &__main {
    border: 1px solid $lightgrey;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__days {
    width: 107.17px;
    height: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    margin: 0;
  }

  &__hours {
    width: 161.9px;
    height: 23px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $dark-pink;
    margin-top: 0;
  }

  &__bottom {
    margin-bottom: 10px;

    &-second {
      margin-bottom: 25px;
    }
  }

  &__contact {
    width: 179px;
    height: 37px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $grey;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $how-its-made-background;
  }

  &__btn {
    color: $white;
    width: 161.45px;
    height: 44px;
    background: $red-2;
    border-radius: 22px;
    border: none;
    margin-top: 34px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px 1px $red-1;
    }
  }

  &__btn-second {
    color: $red-1;
    width: 161px;
    height: 44px;
    background-color: $white;
    border-radius: 22px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      background-color: $button-hover;
      box-shadow: 0 0 20px 1px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    position: relative;
    margin-top: 204px;
    &__container {
      height: 590px;
      position: relative;
      flex-direction: column;
      padding-top: 0px;
    }
    &__tablet--flex {
      position: absolute;
      top: -102px;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    &__section {
      height: 544px;
    }
    &__container-inside {
      padding: 50px 32px 50px 31px;
    }
    &__title,
    &__title-second {
      height: 28px;
      font-size: 16px;
    }
    &__header {
      padding-bottom: 30px;
    }
    &__city {
      padding-bottom: 14px;
      font-size: 16px;
    }
    &__days {
      width: 142px;
      height: 24px;
      font-size: 16px;
    }
    &__description {
      font-size: 14px;
    }
    &__hours {
      font-size: 14px;
    }
    &__contact {
      font-size: 14px;
    }
    &__bottom-second {
      margin-bottom: 30px;
    }
    &__main {
      margin-bottom: 30px;
    }
    &__footer {
      height: 48px;
      line-height: 25.62px;
    }
    &__nav {
      width: 100%;
      position: absolute;
      top: 468px;
      left: 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 14.5px;
      margin-top: 41px;
    }
    &__btn {
      margin: 0;
    }
    &__btn-second {
      margin: 0;
    }
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    position: relative;
    margin-top: 152px;
    &__container {
      height: 650px;
      position: relative;
      flex-direction: column;
      padding-top: 0px;
    }
    &__tablet--flex {
      position: absolute;
      top: -102px;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    &__section {
      width: 330px;
      height: 572px;
      padding: 51px 43px 62px 44px;
    }
    &__container-inside {
      width: 243px;
      height: 459px;
    }
    &__title,
    &__title-second {
      height: 28px;
      font-size: 16px;
    }
    &__header {
      padding-bottom: 10px;
    }
    &__city {
      padding-bottom: 14px;
      font-size: 16px;
    }
    &__days {
      width: 142px;
      height: 24px;
      font-size: 16px;
    }
    &__description {
      font-size: 16px;
      width: 243px;
      height: 50px;
      line-height: 183%;
    }
    &__hours {
      font-size: 15px;
    }
    &__contact {
      font-size: 16px;
    }
    &__bottom-second {
      margin-bottom: 30px;
    }
    &__main {
      margin-bottom: 30px;
    }
    &__footer {
      height: 48px;
      line-height: 25.62px;
    }
    &__nav {
      width: 100%;
      position: absolute;
      top: 468px;
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 14.5px;
      margin-top: 86px;
      margin-bottom: 165px;
    }
    &__btn {
      margin: 0;
    }
    &__btn-second {
      margin: 0;
    }
  }
}
