.footer {
  background-color: $how-its-made-background;
  width: 100%;
  height: 100%;
  padding: 0;
  &__container {
    max-width: none;
  }
  &__grid {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 28.24px;
    margin-top: 43px;
    padding-right: 20.53px;
  }

  &__link:hover,
  &__link:focus {
    outline: none;
  }

  &__icon {
    background-color: $icon-pink;
    border-radius: 50%;
    fill: $white;

    &:hover,
    &:focus {
      background-color: $red-1;
    }
  }

  &-contact {
    font-family: $standard-font;
    font-style: normal;
    font-weight: map-get($font-weight, 'bold');
    font-size: map-get($font-size, 'small');
    line-height: 186%;
    text-align: right;
    color: $black-2;
    margin-right: 20px;
    margin-top: 46px;

    &__number {
      color: $red-1;
    }
  }

  &-copyright {
    border-top: 1px solid $lightgrey;
    margin-top: 43px;
    min-height: 89px;

    &__paragraph--1 {
      font-family: $standard-font;
      font-weight: map-get($font-weight, 'bold');
      font-size: map-get($font-size, 'standard');
      line-height: 1.5;
      text-align: center;
      margin-top: 22px;
      color: $grey;
    }

    &__paragraph--2 {
      font-family: $standard-font;
      font-weight: map-get($font-weight, 'bold');
      font-size: map-get($font-size, 'standard');
      line-height: 1.5;
      text-align: center;
      color: $grey;
    }
  }
}

.heading-footer--first {
  font-family: $header-font;
  font-size: map-get($font-size, 'products-before');
  line-height: 1.167;
  text-transform: uppercase;
  color: $dark-pink;
  padding-left: 22px;
  margin-top: 113px;
}

.heading-footer--second {
  font-family: $header-font;
  font-size: map-get($font-size, 'products-header');
  line-height: 1.147;
  letter-spacing: map-get($letter-spacing, 'standard');
  text-transform: uppercase;
  padding-left: 22px;
  margin-top: 17px;
  color: $red-1;
}

.heading-gap {
  display: block;
}
/* heading gap mozna wyłączyć w innych wersjach np. desktop (z br byłby problem) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .heading-gap {
    font-size: 26px;
    &--passion {
      font-size: 48px;
    }
  }
  .heading-footer {
    &--first {
      margin-top: 128px;
      font-size: 26px;
    }
    &--second {
      font-size: 48px;
    }
  }
  .footer {
    position: relative;
    &__grid {
      position: absolute;
      top: 128px;
      right: 36px;
      padding: 0;
      margin: 0;
    }
    &-contact {
      position: absolute;
      top: 208px;
      right: 36px;
      padding: 0;
      margin: 0;
    }
    &-copyright {
      margin-top: 91px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .heading-gap {
    display: inline;
    font-size: 30px;
    &--passion {
      font-size: 58px;
    }
  }
  .heading-footer {
    &--first {
      margin-top: 10;
      font-size: 30px;
    }
    &--second {
      font-size: 58px;
    }
  }
  .footer {
    &__container {
      max-width: 1280px;
      position: relative;
    }
    &__grid {
      position: absolute;
      top: 0;
      right: 121px;
      padding: 0;
      margin: 0;
    }
    &-contact {
      position: absolute;
      font-size: 16px;
      top: 84px;
      right: 116px;
      padding: 0;
      margin: 0;
      &__number {
        font-size: 16px;
      }
    }
    &-copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      margin-top: 91px;
      &__paragraph--1 {
        margin-top: 0;
      }
    }
  }
}
