//COLORS

$body-background: #fff;

$pink: #ffb8ca;
$dark-pink: #ffa5ba;
$white: #fff;
$red-1: #d41443;
$red-2: #d41342;
$red-3: #c7133e;
$red-4: #d31342;
$yellow: #f0d1a5;
$green: #c2e297;
$how-its-made-background: #fff5f6;
$reviews-background: #fafafa;
$black: #212121;
$black-2: #000;
$grey: #907e82;
$grey-2: #e1e1e1;
$grey-3: #d9d9d9;
$bottom-section-background: #fff5f6;

$black: #212121;

$lightgrey: #e1e1e1;

$pink-shadow: rgba(212, 20, 67, 0.1);
$button-hover: #ecebeb;
$modal-color: #e17992;
$icon-pink: #fea5bb;

//FONTS

$standard-font: 'DM Sans', sans-serif;
$header-font: 'Titan One', sans-serif;

$font-weight: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);
$font-size: (
  'the-smallest': 8px,
  'small': 12px,
  'standard': 14px,
  'enlarged': 16px,
  'products-before': 18px,
  'review-signature': 20px,
  'smaller-section-header': 30px,
  'title-section-header': 26px,
  'title2-section-header': 47px,
  'products-header': 34px,
  'advantages-bold-mobile': 36px,
  'hero-text': 38px,
  'hero-numbers': 46px,
  'section-header': 58px,
);
$letter-spacing: (
  'standard': 0.04em,
  'header': 0.06em,
  'links': 0.02em,
);
