:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff6b08;
  --color-modal-film: #ff6b01;
  --color-grey-background: #f7f7f7;
  --color-red: #ff001b;
  --color-font-grey: #8c8c8c;
  --color-text-footer: #545454;

  --color-card-background: linear-gradient(
    174deg,
    rgb(117, 116, 116) 0%,
    rgb(184, 179, 179) 100%
  );
  --body-background: #e5e5e5;
  --color-modal-background: rgba(0, 0, 0, 0.25);
  --color-grey-icon: #818181;
  --color-background-image: rgba(0, 0, 0, 0.56);
  --color-background-modal: rgba(0, 0, 0, 0.2);
  --color-button: #ff6b01;
  --color-shadow: rgba(255, 107, 1, 0.6);
}
