:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #ff6b08;
  --color-grey-background: #f7f7f7;
  --color-red: #ff001b;
  --color-font-grey: #8c8c8c;
  --color-card-background: #0000008f;
}
