<section class="about" id="how-its-made">
  <div class="container">
    <div class="about__container">
      <p class="about__pre-header">Tradition and love</p>
      <h1 class="about__header">How it's made?</h1>
      <div class="about__tablet-container">
        <img
          class="about__img"
          src="./images/about-cow-280.png"
          srcset="
            ./images/about-cow-280.png 280w,
            ./images/about-cow-340.png 340w,
            ./images/about-cow-516.png 516w
          "
          sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, 280px"
          alt="Mleko ze zbliżeniem na krowę w tle"
        />
        <div class="about__tablet--elements">
          <p class="about__description">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__details">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.<br /><br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button type="button" class="about__button">
            Read more
            <svg
              class="about__icon"
              width="8"
              height="10"
              viewBox="0 0 8 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.61646 1L6.04413 5L1.61646 9"
                stroke="#D41443"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
