<section class="contacts" id="contacts">
    <div class="contacts__container">
        <h3 class="contacts__display--none">CONTACTS</h3>
        <div class="contacts__tablet--flex">
            <div class="contacts__section">
                <div class="contacts__container-inside">
                    <div class="contacts__header">
                        <p class="contacts__title">CAFE</p>
                        <p class="contacts__city">Chicago</p>
                        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__main">
                        <p class="contacts__days">Monday - Friday</p>
                        <p class="contacts__hours contacts__bottom">06:00 AM - 10:00 PM</p>
                        <p class="contacts__days">Saturday - Sunday</p>
                        <p class="contacts__hours contacts__bottom-second">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__footer">
                        <a href="tel:+61(0)383766284" class="contacts__contact">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__contact">noreply@envato.com</a>
                    </div>
                </div>
            </div>


            <div class="contacts__section">
                <div class="contacts__container-inside">
                    <div class="contacts__header">
                        <p class="contacts__title-second">FOODTRUCK</p>
                        <p class="contacts__city">Los Angeles</p>
                        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__main">
                        <p class="contacts__days">Monday - Friday</p>
                        <p class="contacts__hours contacts__bottom">06:00 AM - 10:00 PM</p>
                        <p class="contacts__days">Saturday - Sunday</p>
                        <p class="contacts__hours contacts__bottom-second">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__footer">
                        <a href="tel:+61(0)383766284" class="contacts__contact">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__contact">noreply@envato.com</a>
                    </div>
                </div>
            </div>

            <div class="contacts__section">
                <div class="contacts__container-inside">
                    <div class="contacts__header">
                        <p class="contacts__title">CAFE</p>
                        <p class="contacts__city">New York</p>
                        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="contacts__main">
                        <p class="contacts__days">Monday - Friday</p>
                        <p class="contacts__hours contacts__bottom">06:00 AM - 10:00 PM</p>
                        <p class="contacts__days">Saturday - Sunday</p>
                        <p class="contacts__hours contacts__bottom-second">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts__footer">
                        <a href="tel:+61(0)383766284" class="contacts__contact">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__contact">noreply@envato.com</a>
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>

        <div class="contacts__nav">
            <button type="submit" class="contacts__btn">Our Locations ></button>
            <button type="submit" class="contacts__btn-second">Franchise ></button>
        </div>
    </div>
</section>
