<header class="header-library">
  <div class="header-library__container">
    <div class="header__logo-nav">
      <div class="header__logo">
        <a class="header__logo-icon" href="./index.html">
          <svg width="24" height="24">
            <use href="./icons/icons.svg#film"></use>
          </svg>
        </a>
        <a class="header__logo-text" href="./index.html">Filmoteka</a>
      </div>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="index.html">Home</a>
          </li>
          <li class="navigation__item">
            <a
              class="navigation__link navigation__link--active"
              href="library.html"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__buttons">
      <button
        class="button-library button-library__initial"
        id="#watched-btn"
        type="submit"
      >
        Watched
      </button>
      <button class="button-library" id="#queue-btn" type="submit">
        Queue
      </button>
    </div>
  </div>
</header>
