<header class="header" id="home">
  <div class="header__background">
    <section class="header__container container">
      <a class="header__logo" href="./index.html"
        ><img src="../src/images/logo.png" alt="Website logo"
      /></a>
      <div>
        <svg
          class="header__svg js-open-menu"
          width="20"
          height="14"
          viewBox="0 0 20 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 1H20" stroke="#D41443" />
          <path d="M0 7H20" stroke="#D41443" />
          <path d="M0 13H20" stroke="#D41443" />
        </svg>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list-item nav__list-color"><a href="#home">Home</a></li>
          <li class="nav__list-item"><a href="#about">About us</a></li>
          <li class="nav__list-item"><a href="#how-its-made">How it's made?</a></li>
          <li class="nav__list-item"><a href="#products">Our products</a></li>
          <li class="nav__list-item"><a href="#contacts">Contact</a></li>
        </ul>
      </nav>
      <div class="header__button">
        <button class="header__button-item" type="button">Buy now ></button>
      </div>
    </section>
    <section class="hero">
      <div class="hero__container container">
        <h2 class="hero__title">
          ICE CREAM MADE WITH <span class="hero__title-color">PASSION</span>
        </h2>
        <div class="hero__buttons">
          <button class="hero__button" type="button">Products</button>
          <button class="hero__button hero__button-color" type="button">How it's made?</button>
        </div>
        <div>
          <p class="hero__label">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </div>
      </div>
      <div class="hero__item">
        <div>
          <p class="hero__item-value">16</p>
          <p class="hero__item-name">cafes</p>
        </div>
        <div>
          <p class="hero__item-value">23</p>
          <p class="hero__item-name">food trucks</p>
        </div>
      </div>
    </section>
  </div>
</header>
<div class="js-menu-container">
  <div class="mobile__menu-container">
    <svg
      class="js-close-menu mobile__menu-svg"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.25928 1L14.7408 15" stroke="white" />
      <path d="M1 14.7407L15 1.25924" stroke="white" />
    </svg>
    <button class="mobile__menu-button" type="button">Buy now ></button>
    <nav>
      <ul class="mobile__list">
        <li class="mobile__list-item"><a href="#home">Home</a></li>
        <li class="mobile__list-item"><a href="#about">About us</a></li>
        <li class="mobile__list-item"><a href="#how-its-made">How it's made?</a></li>
        <li class="mobile__list-item"><a href="#products">Our products</a></li>
        <li class="mobile__list-item"><a href="#contacts">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
