<div class="team-backdrop is-hidden" data-team-modal>
    <div class="team-backdrop__container">
      <div class="team-backdrop__box">
        <button class="close-button" type="button" data-team-modal-close>
          <svg width="18" height="18">
            <use href="./icons/icons.svg#close"></use>
          </svg>
        </button>
            <div class="team">
                <h3 class="team__heading">Our team</h3>
                <ul class="team__list">
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/team-leader.jpg" alt="team leader photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Tomasz Grzybowski</b></p>
                            <p class="team__job">Team Leader</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/TomGrzybowski" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                <a href="https://www.linkedin.com/in/tomasz-g-2075ba158/" target="_blank" rel="noreferrer noopener" class="team__icon">
                                    <svg width="15" height="15">
                                        <use href="./icons/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/scrum-master.jpg" alt="scrum master photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Magdalena Grądek</b></p>
                            <p class="team__job">Scrum Master</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/Mysolaar" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                    <a href="https://www.linkedin.com/in/magda-g-a29aa325/" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/dev-a.jpg" alt="developer photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Aneta Górowska</b></p>
                            <p class="team__job">Developer</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/anettgor" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                    <a href="https://www.linkedin.com/in/aneta-g%C3%B3rowska-6a51a7218/" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/dev-k.jpg" alt="developer photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Jakub Antoniak</b></p>
                            <p class="team__job">Developer</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/JakAntoniak" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                    <a href="https://www.linkedin.com/in/jakub-antoniak-57157823a/" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/dev-s.jpg" alt="developer photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Sebastian Szczypiorowski</b></p>
                            <p class="team__job">Developer</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/SebastianSzczypiorowski" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                    <a href="https://linkedin.com" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/dev-w.jpg" alt="developer photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Wioleta Kapinos</b></p>
                            <p class="team__job">Developer</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/Wioleta-Kapinos" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                <a href="https://www.linkedin.com/in/wioleta-kapinos-a54238263/" target="_blank" rel="noreferrer noopener" class="team__icon">
                                    <svg width="15" height="15">
                                        <use href="./icons/icons.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                <li class="team__item">
                    <figure>
                        <img class="team__image" src="./images/dev-m.jpg" alt="developer photo" />
                        <figcaption class="team__description">
                            <p class="team__name"><b>Mateusz Siciarz</b></p>
                            <p class="team__job">Developer</p>
                            <ul class="team__social-media">
                                <li class="team__social-media-item">
                                    <a href="https://github.com/SiciarzMat" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-github"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social-media-item">
                                    <a href=" https://www.linkedin.com/in/mateusz-siciarz-610991142/" target="_blank" rel="noreferrer noopener" class="team__icon">
                                        <svg width="15" height="15">
                                            <use href="./icons/icons.svg#icon-linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>