<div class="modal__background" data-modal>
  <div class="modal-film">
    <button class="modal-film__close-btn" data-modal-close>
      <svg class="modal-film__close-icon">
        <use href="icons/icons.svg#close" height="14px" width="14px"></use>
      </svg>
    </button>
    <div class="modal-film__container">
      <div class="modal-film__poster-box">
        <img
          class="modal-film__poster-img"
          src="images/velocipastor.jpg"
          alt="[film title]"
        />
      </div>
      <div class="modal-film__info-box">
        <div class="modal-film__title">[FILM TITLE]</div>
        <div class="modal-film__stats">
          <table class="modal-film__table">
            <tr>
              <td class="modal-film__table-title">Vote / Votes</td>
              <td class="modal-film__table-data">
                <span class="modal-film__score">[10]</span> /
                <span class="modal-film__total-votes">[total votes]</span>
              </td>
            </tr>
            <tr>
              <td class="modal-film__table-title">Popularity</td>
              <td class="modal-film__table-data">[over 9k]</td>
            </tr>
            <tr>
              <td class="modal-film__table-title">Original Title</td>
              <td class="modal-film__table-data">[true film title]</td>
            </tr>
            <tr>
              <td class="modal-film__table-title">Genre</td>
              <td class="modal-film__table-data">[western]</td>
            </tr>
          </table>
        </div>
        <div class="modal-film__about">
          <p class="modal-film__about-title">ABOUT</p>
          <p class="modal-film__about-txt">[FILM DESCRIPTION]</p>
        </div>
        <div class="modal-film__btn">
          <button id="watched" class="modal-film__btn-watched" type="button">
            ADD TO WATCHED
          </button>
          <button id="queue" class="modal-film__btn-queue" type="button">
            ADD TO QUEUE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
