<div class="movies__pagination">
  <button class="pagination-button mobi-hidden" id="prev-button">
    <svg class="main__svg" width="16" heigth="16">
      <use href="./icons/icons.svg#arrow"></use>
    </svg>
  </button>

  <button
    class="pagination-button pagination-button-1 mobi-hidden"
    data-go-to-page="1"
  >
    1
  </button>
  <button class="pagination-button mobi-hidden" id="prev-dots">...</button>

  <button class="pagination-button pagination-button-2" data-go-to-page="2">
    2
  </button>
  <button class="pagination-button pagination-button-3" data-go-to-page="3">
    3
  </button>
  <button class="pagination-button pagination-button-4" data-go-to-page="4">
    4
  </button>
  <button class="pagination-button pagination-button-5" data-go-to-page="5">
    5
  </button>
  <button class="pagination-button pagination-button-6" data-go-to-page="6">
    6
  </button>

  <button class="pagination-button mobi-hidden" id="next-dots">...</button>
  <button
    class="pagination-button pagination-button-7 mobi-hidden"
    data-go-to-page="7"
  >
    last
  </button>

  <button class="pagination-button mobi-hidden" id="next-button">
    <svg class="main__svg right" width="16" heigth="16">
      <use href="./icons/icons.svg#arrow"></use>
    </svg>
  </button>
</div>
