<section class="products" id="products">
  <div class="products__container container">
    <h2 class="products__header">Products</h2>
    <ul class="products__list">
      <li class="products__card">
        <h3 class="products__title">Ice cream</h3>
        <p class="products__field products__field--mobile">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products__field products__field--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="products__button"></button>
        <div class="products__overlay">
          <h4 class="products__title--overlay">Ice cream</h4>
          <p class="products__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laborum! Hic
            repellendus quia, sit ut labore possimus inventore nulla, consectetur ducimus
            perspiciatis nesciunt consequuntur unde aliquam asperiores nam cupiditate quos at velit
            iure molestias fuga distinctio sed? Iusto sequi.
          </p>
        </div>
      </li>
      <li class="products__card products__card--image-vanilla">
        <h3 class="products__title">Ice coffee</h3>
        <p class="products__field products__field--mobile">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products__field products__field--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="products__button products__button--icecoffee"></button>
        <div class="products__overlay products__overlay--icecoffee">
          <h4 class="products__title--overlay">Ice coffee</h4>
          <p class="products__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laborum! Hic
            repellendus quia, sit ut labore possimus inventore nulla, consectetur ducimus
            perspiciatis nesciunt consequuntur unde aliquam asperiores nam cupiditate quos at velit
            iure molestias fuga distinctio sed? Iusto sequi.
          </p>
        </div>
      </li>
      <li class="products__card products__card--image-chocolate">
        <h3 class="products__title">Milkshakes</h3>
        <p class="products__field products__field--mobile">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products__field products__field--tablet">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button" class="products__button products__button--milkshakes"></button>
        <div class="products__overlay products__overlay--milkshakes">
          <h4 class="products__title--overlay">Milkshakes</h4>
          <p class="products__content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, laborum! Hic
            repellendus quia, sit ut labore possimus inventore nulla, consectetur ducimus
            perspiciatis nesciunt consequuntur unde aliquam asperiores nam cupiditate quos at velit
            iure molestias fuga distinctio sed? Iusto sequi.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- <script src="./overlay.js"></script> -->