<section class="reviews container">
  <ul class="reviews__list">
    <li class="reviews__list-item">
      <h2 class="reviews__heading">Reviews</h2>
      <img
        class="reviews__img"
        src="./images/user-1-photo@1x.png"
        srcset="./images/user-1-photo@1x.png 2x"
        alt="User photo"
      />
      <div class="reviews__block">
        <div class="reviews__text-block">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews__user-name">Emily, Los Angeles</p>

      <form class="reviews__slider">
        <label class="reviews__label">
          <input
            class="reviews__input"
            type="radio"
            name="user-review"
            value="user-review-1"
            checked
          />
          <svg class="reviews__slider-icon" width="12px" height="12px">
            <use width="12px" height="12px" href="./images/icons.svg#icon-slider-checked"></use>
          </svg>
        </label>
        <label class="reviews__label">
          <input class="reviews__input" type="radio" name="user-review" value="user-review-2" />
          <svg class="reviews__slider-icon" width="12px" height="12px">
            <use width="12px" height="12px" href="./images/icons.svg#icon-slider-checked"></use>
          </svg>
        </label>
        <label class="reviews__label">
          <input class="reviews__input" type="radio" name="user-review" value="user-review-3" />
          <svg class="reviews__slider-icon" width="12px" height="12px">
            <use width="12px" height="12px" href="./images/icons.svg#icon-slider-checked"></use>
          </svg>
        </label>
      </form>
    </li>
    <li class="reviews__list-item reviews__list-item--hidden">
      <h2 class="reviews__heading">Reviews</h2>
      <img
        class="reviews__img"
        src="./images/user-2-photo@1x.png"
        srcset="./images/user-2-photo@1x.png 2x"
        alt="User photo"
      />
      <div class="reviews__block">
        <div class="reviews__text-block">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews__user-name">Emily, Los Angeles</p>
    </li>
    <li class="reviews__list-item reviews__list-item--hidden">
      <h2 class="reviews__heading">Reviews</h2>
      <img
        class="reviews__img"
        src="./images/user-3-photo@1x.png"
        srcset="./images/user-3-photo@1x.png 2x"
        alt="User photo"
      />
      <div class="reviews__block">
        <div class="reviews__text-block">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <p class="reviews__user-name">Emily, Los Angeles</p>
    </li>
  </ul>
</section>
