body {
  background-color: rgb(214, 208, 208);
}

.container {
  width: 1024px;
  margin: 0 auto;
  background-color: var(--color-white);
}

.movies {
  padding: 60px 70px 50px;
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movie-card {
  width: 274px;
  height: 439px;
  background-color: var(--color-white);
  border: 1px solid black;
  border-radius: 5px;
}

.movie-card__image {
  height: 398px;
  background-color: var(--color-card-background);
  align-items: center;
  display: flex;
}

.movie-card__details {
  height: 41px;
}

span {
  color: white;
  font-size: 26px;
  margin: 0 auto;
}
